---
title: Serment
layout: default
---

<main class="serment">
  <h1 class="serment-title serment-section text-center">{{ site.data.serment.title }}</h1>

  <div class="serment-main serment-section">
      {% for txt in site.data.serment.text %}
        {% assign first_char = txt | slice: 0 %}
            {% if  first_char == "<" %}
                {% assign second_char = txt | slice: 1 %}
                {% if second_char == "q" %}
                    {% assign quote_txt = txt | replace: "<q>", '<blockquote class="serment-quote">' | append: "</blockquote>" %}
                    {{  quote_txt  }}
                {% elsif second_char == "l" %}
                    {{ txt | replace: "<li>", '<li class="serment-list-item text-muted">' | append: "</li>" }}
                {% else %}
                    {{ txt }}
                {% endif %}
            {% else %} 
                <p class="serment-txt serment-section text-muted">
                    {{ txt | remove: ", %NAME%," }}
                </p>
            {% endif %}
      {% endfor %}
  </div>

  <form class="serment-sign serment-section">
    <div class="row">
        <div class="col-sm-12 col-md-4 has-feedback form-input">
            <input type="text" class="input-name form-control" placeholder="Nom">
            <span class="warn-hint help-block hidden" id="hint-name">SVP entrez votre nom</span>
        </div>
        <div class="col-sm-12 col-md-4 has-feedback form-input">
            <input type="email" class="input-email form-control" placeholder="Courriel">
            <span class="warn-hint help-block hidden" id="hint-email">SVP entrez votre courriel</span>
        </div>
        <div class="col-sm-12 col-md-4 has-feedback form-input">
            <input type="text" class="input-city form-control" placeholder="Lieu">
            <span class="warn-hint help-block hidden" id="hint-city">SVP entrez votre lieu</span>
        </div>
    </div>
    <div class="serment-sign-button row text-center">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target=".serment-sign-modal" id="btn-sign-popup">Signez le serment!</button>
    </div>
  </form>

  <div class="serment-sign-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="serment-sign-pad modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Annulez</span></button>
            <h4 class="modal-title text-muted">Signez ma signature</h4>
        </div>
        <div class="modal-body">
          <div class="signature-pad-wrapper">
            <canvas id="signature-pad" class="signature-pad"></canvas>
          </div>
        </div>
        <div class="serment-sign-modal-footer modal-footer">
          <span class="warn-hint help-block hidden" id="hint-sign">Pour signer le serment, vous devez signer votre signature</span>

          <div class="pad-control">
            <button type="button" class="btn btn-info pull-left" id="clear">Effacez</button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Annulez</button>
          <button type="button" class="btn btn-primary" id="sign">Soumettez</button>
        </div>
    </div>
    </div>
  </div>

  <div class="pdf-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="pdf-modal-panel modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Annulez</span></button>
            <h4 class="modal-title text-muted">Encore un pas</h4>
        </div>
        <div class="modal-body">
            <ol class="pdf-step-list">
                <li>
                    <a id="pdf-url" href="#" target="_blank">Téléchargez votre serment signé</a>
                </li>
                <li>
                    <a href="mailto: angdi.chu@coderbunker.ca">Envoyez-nous le pdf</a> <!-- draveurs@drave.dev -->
                </li>
                <li>Attendez la réponse</li>
            </ol>
            
        </div>
      </div>
    </div>
  </div>
</main>

<script>
    const sermentTxt = {{ site.data.serment | jsonify }};
</script>