---
layout: style
---

body {
    padding-top: 110px;
}

.serment {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .serment {
        margin: auto 15px;
        width: calc(100vw - 15px * 2);
    }

    .serment-sign {
        width: 100%;
    }

    .serment-sign-button {
        width: 100%;
    }

    .serment-sign-button button {
        width: 100%;
        margin: 20px auto;
    }
}


@media screen and (min-width: 768px) {
    .serment {
        width: 750px;
    }

    .serment-sign-button button {
        width: 200px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 992px) {
    .serment {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .serment {
        width: 1140px;
    }
}

.serment-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.serment-main {
    font-size: 16px;
}

.serment-quote {
    font-style: italic;
}

.serment-list-item {
    font-size: 1em;
}

.form-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.serment-sign {
    padding-top: 20px;
}

.serment-sign-button {
    margin: 20px auto;
}

.signature-pad {
    width: 100%;
    height: 200px;
    max-height: calc(100vh - 58px - 84px - 30px * 2 - 20px * 2);
    background-color: white;
}

.serment-sign-modal-footer button {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: normal;
}

.close {
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.warn-hint {
    font-size: 14px;
    color: red;
}

#hint-sign {
    text-align: left;
}

.pdf-modal-panel {
    width: 400px;
    max-width: calc(100vw - 20px);
}

.pdf-step-list {
    margin: 0;
}

.pdf-step-list li {
    font-size: 16px;
    margin-bottom: 10px;
}

.pdf-step-list a {
    color: #B04E00;
    text-decoration: underline;
}